<div class="bg-light rounded text-center my-5 mx-auto w-50 border shadow py-5">
    <h1><%= event.title %></h1>
    <p>
        <%= event.description %>
    </p>
    <hr>
    <div class="bg-info">
        Event Price <strong><%= event.price %></strong>
    </div>
    <a href="/events" class="btn btn-sm btn-dark mt-3">Return to events</a>
</div>